<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed == true %>
        <%= link_to "â˜‘ï¸", mark_as_done_task_path(task), method: :patch %>
      <% else %>
        <%= link_to "ðŸ”²", mark_as_done_task_path(task), method: :patch %>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>

  <% end %>
</ul>


<%= link_to "Add a new task", new_task_path %>
